body {
  font-family: sans-serif;
  user-select: none;
}

.loading {
  margin-left: 11.5%;
  margin-top: 5px;
  color: orange;
}

.loader {
  animation: 2s linear infinite loader-animation;
  max-width: 50px;
  display: flex;
  position: relative;
  vertical-align: middle;
  margin-left: 0.2%;
  margin-top: 5px;
}

@keyframes loader-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

circle {
  animation: 1.4s ease-in-out infinite both circle-animation;
  display: block;
  fill: transparent;
  stroke: orange;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}

@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}

.hiddenReply {
  display: none;
}

.hidden {
  display: none;
}

.showReply {
  display: block;
}
.sizedTextBox {
  height: 30px;
  padding: 1px;
  margin-bottom: 5px;
}
.replyButton {
  display: inline;
  border: 1px solid white;
  background-color: rgb(218, 218, 218);
  padding: 5px 12px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  float: right;
  right: 0px;
  position: relative;
  /* bottom: 0;
  right: 0; */
}

.hiddenConfirm {
  display: none;
}

.showConfirm {
  display: block;
  background-color: rgb(173, 173, 173);
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  position: absolute;
}

.showConfirm div {
  position: inherit;
  top: 8%;
  left: 30%;
}

.infoButton {
  float: right;
  position: relative;
  top: 2%;
  right: 2%;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  vertical-align: middle;
}

.infoButton svg {
  position: absolute;
  left: 20%;
  top: 20%;
}

.delteYes {
  display: inline;
  border: 1px solid white;
  background-color: rgb(218, 218, 218);
  padding: 5px 12px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  left: 34%;

  /* bottom: 0;
  right: 0; */
}

.deleteNo {
  display: inline;
  border: 1px solid white;
  background-color: rgb(151, 151, 151);
  padding: 5px 12px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  left: 35%;

  /* bottom: 0;
  right: 0; */
}

.deleteButton {
  float: right;
  position: relative;
  top: 2%;
  right: 1%;
  width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}

.deleteButton svg {
  position: absolute;
  left: 20%;
  top: 20%;
}

.replyButton:hover {
  background-color: gray;
}

.replyButton:active {
  background-color: rgb(56, 55, 55);
}

.showRepliesButton {
  display: inline-block;
  border: 1px solid white;
  background-color: rgb(218, 218, 218);
  padding: 5px 12px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  left: 75%;
  position: relative;
  /* position: absolute;
  bottom: 0;
  right: 60px; */
}

.zoomOut {
  margin-left: 2%;
  position: absolute;
  bottom: 95%;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}

.zoomOut svg {
  position: absolute;
  left: 20%;
  top: 20%;
}

.zoomIn {
  margin-left: 4%;
  position: absolute;
  bottom: 95%;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}

.zoomIn svg {
  position: absolute;
  left: 20%;
  top: 20%;
}

.prevPageButton {
  position: absolute;
  bottom: 95%;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}

.prevPageButton svg {
  position: absolute;
  left: 20%;
  top: 20%;
}

.nextPageButton {
  margin-left: 6%;
  position: absolute;
  bottom: 95%;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}

.nextPageButton svg {
  position: absolute;
  left: 20%;
  top: 20%;
}

.showRepliesButton:hover {
  background-color: gray;
}

.showRepliesButton:active {
  background-color: rgb(56, 55, 55);
}

.playButton {
  display: inline-block;
  border: 1px solid white;
  background-color: rgb(218, 218, 218);
  padding: 5px 12px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

.playButton:hover {
  background-color: gray;
}

.selected {
  fill: rgb(35, 144, 194) !important;
}

/* .replying {
  fill: blue !important;
}

.describing {
  fill: darkorange;
}

.linking {
  fill: magenta;
  cursor: pointer;
}

.cueMedia {
  fill: red;
  cursor: pointer;
} */

.inFocus {
  fill: green !important;
}

.listContainer {
  overflow: auto;
  overflow-x: hidden;
  max-height: 1000px;
  max-width: 631px;
  padding-left: 5px;
}

.playlist {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;
  max-width: 631px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.quoteContent {
  background-color: rgba(204, 204, 204, 0.5);
  padding: 1%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.scoreContainer {
  position: relative;
  float: right;
  bottom: 250px;
  right: 0px;
}

.scoreContainer div div svg {
  max-width: 100%;
  max-height: 100%;
}

.App {
  padding-bottom: 5px;
}

.annoItem {
  display: block;
  border-top: 0.5px solid rgba(136, 136, 136, 0.5);
  border-right: 0.5px solid rgba(136, 136, 136, 0.5);
  list-style-type: none;
  border-bottom: 0.5px solid rgba(136, 136, 136, 0.5);
  padding-bottom: 1%;
  overflow-y: hidden;
  position: relative;
}

.annoItem p {
  max-height: 150px;
  overflow-y: auto;
}

.playlistItem {
  display: block;
  border-top: 0.5px solid rgba(136, 136, 136, 0.5);
  border-right: 0.5px solid rgba(136, 136, 136, 0.5);
  list-style-type: none;
  position: relative;
  border-bottom: 0.5px solid rgba(136, 136, 136, 0.5);
  padding-bottom: 1%;
  overflow-y: auto;
  max-width: 631px;
  background-color: rgb(208, 208, 208);
  text-align: center;
}

.playlistItem p {
  margin-bottom: 0px;
}

.playlistItem iframe {
  border: none;
  vertical-align: middle;
  text-align: center;
}

.annoItem:hover {
  background: #eee;
}

.date,
.permission,
.accessPermissions {
  font-size: x-small;
  font-style: italic;
  vertical-align: middle;
}

.permission {
  padding-left: 0.5em;
}

.MEIButton {
  background-color: rgb(241, 145, 0);
  border: none;
  padding: 10px 10px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.4s;
  opacity: 0.5;
  color: white;
  border-radius: 4px;
}

.hiddenDetails {
  display: none;
}

.showDetails {
  display: inline;
}

.hiddenContainer {
  display: none;
}

.showContainer {
  display: block;
}

.MEIButton:active {
  background-color: rgb(182, 118, 0);
}

.MEIButton:hover {
  opacity: 1;
}

.addAnnotations {
  padding: 5px;
  margin-top: 10px;
}

.textArea {
  height: 100px;
  width: 625px;
  display: flex;
  margin-bottom: 5px;
}

.form {
  display: inline-block;
}

.controls {
  float: right;
  display: flex;
}

.renditionButton {
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 630px;
  margin-left: 5px;
  color: white;
  background-color: lightsalmon;
  outline: rgb(211, 122, 86);
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.enabledSubmitButton {
  border: none;
  background-color: rgb(161, 219, 161);
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  /* display: inline-flexbox; */
  transition-duration: 0.4s;
  width: 315px;
  opacity: 1;
  color: white;
  height: 60px;
}

.disabledSubmitButton {
  border: none;
  background-color: rgb(190, 190, 190);
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  /* display: inline-flexbox; */
  transition-duration: 0.4s;
  width: 315px;
  opacity: 1;
  color: white;
  pointer-events: none;
}

.enabledSubmitButton:hover {
  background-color: #4caf50;
  color: white;
}

.enabledSubmitButton:active {
  background-color: forestgreen;
}

.selectable-score-postButton {
  display: inline;
  padding-top: 20px;
  padding-bottom: 20px;
}

.refreshButton {
  border: none;
  background-color: rgb(166, 201, 255);

  border-radius: 4px;
  text-align: center;
  display: inline-flexbox;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  width: 315px;
  padding: 20px;
  opacity: 1;
  color: white;
}

.refreshButton:hover {
  background-color: #0084ff;
  color: white;
}

.refreshButton:active {
  background-color: #005db4;
}

.divider {
  width: 775px;
  height: auto;
  display: inline-block;
}

.logoutButton {
  background-color: #f4511e;
  border: none;
  padding: 5px 12px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.4s;
  opacity: 0.5;
  color: white;
  border-radius: 4px;
}

.logoutButton:hover {
  opacity: 1;
}

.loginButton {
  background-color: #4caf50;
  border: none;
  padding: 14px 40px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.4s;
  opacity: 0.5;
  color: white;
  border-radius: 4px;
  width: 250px;
}

.loginButton:hover {
  opacity: 1;
}

.isOpen {
  background: rgba(255, 255, 255, 1);
  border: 1px solid orange;
}

.isClosed {
  border: 1px solid orange;
  background: rgba(241, 145, 0, 0.25);
}

/* .selectionLegend {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: rgb(35, 144, 194);
  margin-right: 2px;
}

.descriptionLegend {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: orange;
  margin-left: 10px;
  margin-right: 2px;
}

.linkingLegend {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: magenta;
  margin-left: 10px;
  margin-right: 2px;
}

.cueMediaLegend {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: red;
  margin-left: 10px;
  margin-right: 2px;
}

.replyLegend {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: blue;
  margin-left: 10px;
  margin-right: 2px;
}

.focusLegend {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: green;
  margin-left: 10px;
  margin-right: 2px;
} */

/* help window */
/* .modal {
  background: #fff;
  outline: 0;
  min-width: 250px;
  max-width: 500px;
  border-radius: 4px;
}



.modal-header {
  border-bottom: 1px solid #eee;
}

.modal-title {
  margin: 0;
}



.modal--animated {
  opacity: 0.3;
  transform: scale(1.1) translateY(-10px);
  -webkit-transform: scale(1.1) translateY(-10px);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.modal--animated.has-entered {
  opacity: 1;
  transform: scale(1) translateY(0);
  -webkit-transform: scale(1) translateY(0);
}

.underlay {
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.underlay.has-entered {
  background-color: rgba(0, 0, 0, 0.5);
} */

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  z-index: 1000;
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 0.5em 1.5em;
  z-index: 1000;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(156, 156, 156, 0.521);
  z-index: 999;
}

.modal-footer {
  border-top: 1px solid #eee;
  text-align: right;
  z-index: 1000;
}

.react-toggle {
  touch-action: pan-x;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 2.75em;
  height: 1.125em;
  padding: 0;
  border-radius: 30px;
  background-color: #4d4d4d;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19ab27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128d15;
}

.react-toggle-track-check {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 1em;
  height: 1em;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19ab27;
}

/* .react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099e0;
  -moz-box-shadow: 0px 0px 3px 2px #0099e0;
  box-shadow: 0px 0px 2px 3px #0099e0;
} */

/* .react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099e0;
  -moz-box-shadow: 0px 0px 5px 5px #0099e0;
  box-shadow: 0px 0px 5px 5px #0099e0;
} */
