body {
  font-family: sans-serif;
  user-select: none;
}

.selected {
  fill: rgb(35, 144, 194);
  stroke: rgb(35, 144, 194);
}
.listContainer {
  overflow: auto;
  overflow-x: hidden;
  max-height: 151px;
  max-width: 972px;
  display: flexbox;
}

.replyButton {
  border: 1px solid white;
  background-color: rgb(218, 218, 218);
  padding: 5px 12px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.annoList {
  display: flexbox;
  border-top: 1px solid #888;
  list-style-type: none;
  position: relative;
}

.describing {
  fill: darkorange;
}
.MEIButton {
  background-color: rgb(241, 145, 0);
  border: none;
  padding: 10px 10px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.4s;
  opacity: 0.5;
  color: white;
  border-radius: 4px;
}

.MEIButton:hover {
  opacity: 1;
}
.linking {
  fill: magenta;
  cursor: pointer;
}
.inFocus {
  fill: green !important;
}
.date {
  font-size: x-small;
  font-style: italic;
  vertical-align: middle;
}

.annoList:hover {
  background: #eee;
}
input:focus::placeholder {
  color: transparent;
}

.addAnnotations {
  padding: 5px;
  margin-top: 10px;
}

.textArea {
  height: 100px;
  width: 625px;
  display: flex;
}

.pageButton {
  border: 1px solid white;
  background-color: rgb(215, 215, 215);
  padding: 5px 12px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.4s;
}

.form {
  display: inline-block;
}

.pageButton:hover {
  background-color: rgb(175, 175, 175);
}

.enabledSubmitButton {
  border: none;
  background-color: rgb(161, 219, 161);
  padding: 16px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  display: inline-flexbox;
  transition-duration: 0.4s;
  width: 315px;
  opacity: 1;
  color: white;
}

.refreshButton {
  border: none;
  background-color: rgb(166, 201, 255);

  border-radius: 4px;
  text-align: center;
  display: inline-flexbox;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  width: 315px;

  opacity: 1;
  color: white;
}

.refreshButton:hover {
  background-color: #0084ff;
  color: white;
}

.enabledSubmitButton:hover {
  background-color: #4caf50;
  color: white;
}

.disabledSubmitButton {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.4s;
  width: 315px;
  background-color: rgb(215, 215, 215);
  pointer-events: none;
  opacity: 0.4;
}

.divider {
  width: 775px;
  height: auto;
  display: inline-block;
}

.selectionButton {
  border: none;
  background-color: rgb(215, 215, 215);
  padding: 10px 12px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.4s;
}

.selectionButton:hover:disabled {
  cursor: not-allowed;
}

.selectionButton:hover:enabled {
  background-color: rgb(175, 175, 175);
}

.logoutButton {
  background-color: #f4511e;
  border: none;
  padding: 5px 12px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.4s;
  opacity: 0.5;
  color: white;
  border-radius: 4px;
}

.logoutButton:hover {
  opacity: 1;
}

.loginButton {
  background-color: #4caf50;
  border: none;
  padding: 14px 40px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.4s;
  opacity: 0.5;
  color: white;
  border-radius: 4px;
  width: 250px;
}

.loginButton:hover {
  opacity: 1;
}
