body {
  font-family: sans-serif;
  user-select: none;
}

.selected {
  fill: darkorange;
  stroke: darkorange;
}

input:focus::placeholder {
  color: transparent;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}
.addAnnotations {
  padding: 5px;
}
